<div class="historia">
    <h1>El Club</h1>
    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Temporibus earum, deleniti culpa, iste officiis nobis recusandae tenetur quos nemo ea libero quidem obcaecati quasi soluta atque exercitationem ipsum dolore eius!</p>
    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Temporibus earum, deleniti culpa, iste officiis nobis recusandae tenetur quos nemo ea libero quidem obcaecati quasi soluta atque exercitationem ipsum dolore eius!</p>
    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Temporibus earum, deleniti culpa, iste officiis nobis recusandae tenetur quos nemo ea libero quidem obcaecati quasi soluta atque exercitationem ipsum dolore eius!</p>

    <h1>Junta Directiva</h1>
    <div class="contenedor-junta">
        <div class="miembro">
            <img  class="img-junta" src="assets/image/desconocido.png" alt="">
            <h3>Nombre Apellido</h3>
            <h4>cargo</h4>
        </div>
        <div class="miembro">
            <img class="img-junta" src="assets/image/desconocido.png" alt="">
            <h3>Nombre Apellido</h3>
            <h4>cargo</h4>
        </div>
        <div class="miembro">
            <img class="img-junta" src="assets/image/desconocido.png" alt="">
            <h3>Nombre Apellido</h3>
            <h4>cargo</h4>
        </div>
    </div>
</div>
