<div class="contacto-general">
    <div class="contacta">
        <h1>Contacta con nosotros</h1>
        <p>Si estás interesado en ponerte en contacto con nosotros no dudes en escribirnos un correo electrónico,
            llamarnos o enviarnos un Whatsapp:</p>

        <div class="telefono">
            <i class="fa-solid fa-phone fa-xl"></i> +34 666 66 66 66
        </div>

        <div class="whatsapp">
            <i class="fa-brands fa-whatsapp fa-xl"></i> +34 666 66 66 66
        </div>

        <div class="email">
            <i class="fa-regular fa-envelope fa-xl"></i> cuflasrozas&#64;hotmail.com
        </div>
    </div>

    <div class="encuentranos">
        <h1>Encuéntranos</h1>
        <div class="contenedor-iframe-map">
            <iframe
            src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3033.2684279932037!2d-3.919288923257044!3d40.513557649739276!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0xd419cc506f9712f%3A0x2b2f70dbbf66a452!2sPolideportivo%20Municipal%20Entremontes!5e0!3m2!1ses!2ses!4v1730121167505!5m2!1ses!2ses"
           class="iframe-map" style="border:0;" allowfullscreen="" loading="lazy"
            referrerpolicy="no-referrer-when-downgrade"></iframe>
        </div>
        
    </div>
</div>