<div class="fotos-principal">
    <div>
    <h1>Galería de fotos</h1>
    </div>
    <div class="galeria">
        <div class="foto">
            <a href="assets/fotos/prueba/1.jpg"><img src="assets/fotos/prueba/1.jpg" alt=""></a>
        </div>
        <div class="foto">
            <a href="assets/fotos/prueba/2.jpg"><img src="assets/fotos/prueba/2.jpg" alt=""></a>
        </div>
        <div class="foto">
            <a href="assets/fotos/prueba/3.jpg"><img src="assets/fotos/prueba/3.jpg" alt=""></a>
        </div>
        <div class="foto">
            <a href="assets/fotos/prueba/4.jpg"><img src="assets/fotos/prueba/4.jpg" alt=""></a>
        </div>
        
        <div class="foto">
            <a href="assets/fotos/prueba/5.jpg"><img src="assets/fotos/prueba/5.jpg" alt=""></a>
        </div>
        
        <div class="foto">
            <a href="assets/fotos/prueba/6.jpg"><img src="assets/fotos/prueba/6.jpg" alt=""></a>
        </div>

        <div class="foto">
            <a href="assets/fotos/prueba/7.jpg"><img src="assets/fotos/prueba/7.jpg" alt=""></a>
        </div>

 </div>

</div>

